$blue: #037;
$violet: #580096;
$red: #910000;
$teal: #007363;

$evt-colors: (
  "blue": $blue,
  "violet": $violet,
  "red": $red,
  "teal": $teal
);

$green: #2bb807;

$black: #000;
$trans-black: rgba(0,0,0,0.4);
$dark-grey: #444;
$grey: #777;
$light-grey: #aaa;
$white: #fff;