$blue: #037;
$light-blue: #17519c;

$violet: #580096;
$light-violet: #8920d4;

$green: #2bb807;

$black: #000;
$trans-black: rgba(0,0,0,0.4);
$dark-grey: #444;
$grey: #777;
$light-grey: #aaa;
$white: #fff;