body {
  background: #222;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin: 20px 0;
}
strong {
  font-weight: bold;
}
.hidden {
  display: none;
}
main {
  padding: 0 50px;
}
nav {
  background: $black;
  left: 0;
  padding: 10px 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  ul {
    display: flex;
    justify-content: center;
  }
  a, .random {
    background: none;
    border: none;
    color: $green;
    font-size: 16px;
    line-height: 1;
    margin: 0 5px;
    padding: 0;
    text-decoration: underline;

    &:hover, &:focus {
      color: $white;
      cursor: pointer;
      text-decoration: none;
    }
  }
}