.timeline {
  align-items: center;
  border-right: 5px dashed $grey;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  max-width: 200px;
  position: relative;
  right: 90px;
}
.year {
  font-size: 20px;
  font-weight: bold;
  margin: 10px -200px 0 0;
  text-align: center;
  text-shadow: 2px 2px 0px $black;
  width: 415px;
}
.btn {
  background: $blue;
  border: none;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  transition: background .2s ease;
  width: 100%;

  &:hover {
    background: $light-blue;
  }

  &:after {
    border-top: 4px solid $green;
    content: '';
    display: none;
    right: 100%;
    position: absolute;
    top: calc(50% - 2px);
    width: 100px;
    animation: drawLine 2s linear forwards;
  }

  &.active {
    background: $green;
    color: $black;

    &:after {
      display: block;
    }
  }
}
.circle {
  position: absolute;
  left: -199px;
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  transform: rotate(88deg);
  z-index: 1;

  &-half {
    height: 100px;
    width: 50px;
    overflow: hidden;
    position: absolute;
    top: 0;

    &:after {
      border: 4px solid transparent;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 0;
      transform: rotate(-135deg);
      height: 92px;
      width: 92px;
    }

    &.left {
      left: 0px;

      &:after {
        border-bottom-color: $green;
        border-left-color: $green;
        left: 4px;
        animation: rotateLeft 2s linear forwards;
      }
    }

    &.right {
      right: 0px;

      &:after {
        border-top-color: $green;
        border-right-color: $green;
        right: 4px;
        animation: rotateRight 2s linear forwards;
      }
    }
  }
}
.img {
  border-radius: 50%;
  display: block;
  position: absolute;
  opacity: 0;
  left: -191px;
  top: calc(50% - 46px);
  height: 92px;
  width: 92px;

  &.active {
    animation: fadeIn 2s linear forwards;
  }
}

.event {
  margin: 10px 0 0;
  padding: 0;
  position: relative;
  width: 100%;

  &:not(.align-right) {
    border-right: 10px solid $dark-grey;
    margin-right: 20px;
    padding-right: 10px;

    .btn {
      text-align: right;
    }
  }

  &.align-right {
    border-left: 10px solid $dark-grey;
    padding-left: 10px;
    left: calc(100% + 15px);

    .btn:after {
      right: auto;
      left: 100%;
    }

    .circle {
      left: auto;
      right: -199px;
      transform: rotate(-93deg);
    }
    
    .img {
      left: auto;
      right: -191px;
    }
  }

  &:hover {
    border-color: $light-blue;
  }
}

@keyframes drawLine {
  0% { width: 0px; }
  25%, 100% { width: 100px; }
}
@keyframes rotateRight {
  0%, 25% { transform: rotate(-135deg); }
  50%, 100% { transform: rotate(45deg); }
}
@keyframes rotateLeft {
  0%, 50% { transform: rotate(-135deg); }
  75%, 100% { transform: rotate(45deg); }
}
@keyframes fadeIn {
  0%, 75% { opacity: 0; }
  100% { opacity: 1 }
}
