.timeline {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding-top: 115px;
  position: relative;

  &:before {
    background: $light-grey;
    border-color: $grey;
    border-style: solid;
    border-width: 0 3px;
    box-shadow: 0px 4px 3px 4px $dark-grey;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 12px;
  }

  li {
    position: relative;
  }
}
.year {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 0px $black;
  width: 415px;
  z-index: 3;

  &-anchor {
    content: "";
    position: absolute;
    top: -100px;
  }
}
.btn {
  $self: &;

  background-position-y: -50px;
  background-repeat: no-repeat;
  border: none;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 10px;
  transition: all .2s ease;
  width: 200px;

  &--blue {
    background-color: $blue;

    &:before {
      background-color: $blue;
    }
  }

  &--violet {
    background-color: $violet;

    &:before {
      background-color: $violet;
    }
  }

  &-text {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
  }

  &:after {
    background: $green;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0px;
  }

  &-line {
    border-top: 4px solid $green;
    content: '';
    display: none;
    position: absolute;
    top: calc(50% - 2px);
    animation: drawLine 0.5s linear forwards;
    animation-delay: 0.5s;
  }

  &:hover {
    text-shadow: 1px 1px 0px $black;

    &:before {
      animation: drawBorder 0.5s linear forwards;
      z-index: 2;
    }
  }

  &.notable {
    border: 2px dashed $white;
    font-weight: bold;
  }

  &.active {
    background-color: $green;
    color: $black;
    text-shadow: none;

    &:before {
      background-color: $green;
      height: calc(100% + 40px);
      z-index: 1;
    }
    &:after {
      animation: drawActive 0.5s linear forwards;
    }
    #{$self}-line {
      display: block;
    }
  }
}
.circle {
  cursor: pointer;
  position: absolute;
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  z-index: 1;

  &:after {
    background: $trans-black;
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
    content: "";
    display: block;
    height: 92px;
    opacity: 0;
    position: absolute;
    width: 92px;
  }

  &--blue:after {
    border-color: $light-blue;
  }
  &--violet:after {
    border-color: $light-violet;
  }

  &:hover {
    &:after {
      animation: fadeInCircleHover 0.3s linear forwards;
    }
  }

  &-half {
    height: 100px;
    width: 50px;
    overflow: hidden;
    position: absolute;
    top: 0;

    &:after {
      border: 4px solid transparent;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 0;
      transform: rotate(-135deg);
      height: 92px;
      width: 92px;
    }

    &.left {
      left: 0px;

      &:after {
        border-bottom-color: $green;
        border-left-color: $green;
        left: 5px;
        animation: rotateLeft 0.5s linear forwards;
        animation-delay: 1.5s;
      }
    }

    &.right {
      right: 0px;

      &:after {
        border-top-color: $green;
        border-right-color: $green;
        right: 5px;
        animation: rotateRight 0.5s linear forwards;
        animation-delay: 1s;
      }
    }
  }
}
.img {
  border-radius: 50%;
  display: block;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  top: calc(50% - 45px);
  height: 90px;
  width: 90px;

  &.active {
    animation: fadeIn 0.5s linear forwards;
    animation-delay: 2s;
    pointer-events: auto;
  }
}

.event {
  margin: 10px 0 0;
  padding: 0;
  position: relative;

  &:not(.align-right) {
    right: 120px;

    .btn {
      background-position-x: 200px;
      text-align: right;

      &:hover,
      &.active {
        background-position-x: 0px;
      }
      &:before {
        right: -23px;
      }
      &:after {
        right: 0;
      }
      &-line {
        right: 100%;
      }
    }

    .circle {
      left: -199px;
      transform: rotate(88deg);

      &:after {
        left: 4px;
        top: 0;
      }
    }

    .img {
      left: -190px;
    }
  }

  &.align-right {
    left: 120px;

    .btn {
      background-position-x: -200px;
      text-align: left;

      &:hover,
      &.active {
        background-position-x: 0px;
      }
      &:before {
        left: -23px;
      }
      &:after {
        left: 0;
      }
      &-line {
        left: 100%;
      }
    }

    .circle {
      right: -199px;
      transform: rotate(-93deg);

      &:after {
        left: 4px;
        top: 0;
      }
    }
    
    .img {
      right: -190px;
    }
  }

  &-anchor {
    content: "";
    position: absolute;
    top: -150px;
  }
}

@keyframes drawBorder {
  0% { height: 0px }
  25% { height: 50% }
  50% { height: 100% }
  75% { height: calc(100% + 20px) }
  100% { height: calc(100% + 40px) }
}
@keyframes drawActive {
  0% { width: 0%; }
  100% { width: 100% }
}
@keyframes drawLine {
  0% { width: 0px; }
  100% { width: 100px; }
}
@keyframes rotateRight {
  0% { transform: rotate(-135deg); }
  100% { transform: rotate(45deg); }
}
@keyframes rotateLeft {
  0% { transform: rotate(-135deg); }
  100% { transform: rotate(45deg); }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1 }
}
@keyframes fadeInCircleHover {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
